.bHgovE{
    position: relative;
    background: rgb(13, 17, 28);
    border-radius: 16px;
    border: 1px solid rgba(152, 161, 192, 0.24);
    padding: 12px 8px 8px;
    z-index: 1;
    transition: transform 250ms ease 0s;
}